#bio {
    display: flex;
    justify-content: space-between;

}

#text1 h1 {
    margin: 0 0;
}

#text1 {
    margin-right: 25px;
}

#img {
    margin-right: 25px;
}

#text3 {
    margin-top: 30px;
}